.desktop {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: url("../src/assets/windows10Wallpaper.webp") center/cover
    no-repeat;
}
.titleBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  background: #1f1f1f;
  color: white;
  font-size: 13px;
  user-select: none;
  -webkit-app-region: drag;
}
.titleBar::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #3a3a3a;
}
.titleBar > div:first-child {
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-weight: 500;
  gap: 10px;
}
.titleBar > div:last-child {
  display: flex;
  flex-direction: row-reverse;
}
.window-button {
  width: 45px;
  height: 45px;
  background: transparent;
  border: none;
  color: #ffffffcc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  cursor: pointer;
  -webkit-app-region: no-drag;
  transition: background 0.15s;
}
.window-button:hover {
  background: rgba(255, 255, 255, 0.1);
}
.window-button:first-child:hover {
  background: #e81123;
  color: white;
}
.window-button i {
  pointer-events: none;
}
.window {
  position: absolute;
  background-color: #1e1e1e;
  border: 1px solid #555;
  width: 400px;
  height: 300px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 100;
  transition:
    opacity 0.25s ease,
    transform 0.25s ease,
    width 0.25s ease,
    height 0.25s ease;
}
.window.hidden {
  opacity: 0;
  pointer-events: none;
}

.window.minimized {
  transform: scale(0.8) translateY(100%);
  opacity: 0;
}

.window.maximized {
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
}
.content {
  padding: 10px;
  color: #ddd;
}
.taskbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #000306;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(10px);
}
.taskbar-left {
  display: flex;
  align-items: center;
  gap: 4px;
}
.search-input {
  background: #333333;
  border: none;
  padding: 6px 10px;
  font-size: 13px;
  width: 250px;
  height: 28px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.search-input > input {
  background: transparent;
  border: none;
  color: #dbdbdb;
}
.start-button {
  background: transparent;
  border: none;
  padding: 8px;
  cursor: pointer;
  transition: background 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.start-button:hover {
  background: #3a3a3a;
  color: #429ce3 !important;
}
.win-logo {
  width: 20px;
  height: 20px;
  filter: brightness(1.2);
}
.taskbar-apps {
  display: flex;
  gap: 4px;
  flex: 1;
  margin-left: 10px;
}
.taskbar-app {
  background: transparent;
  border: none;
  padding: 6px 10px;
  color: white;
  cursor: pointer;
  height: 40px;
  width: 40px;
  transition: background 0.2s;
}

.taskbar-app.active,
.taskbar-app:hover,
.start-button.active {
  background: #505050;
}

.taskbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 10px;
}
.system-tray {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  opacity: 0.8;
}
.taskbar-clock {
  font-size: 13px;
  font-weight: 500;
  opacity: 0.9;
}

.taskbar-language {
  text-transform: uppercase;
}
.start-menu {
  position: absolute;
  bottom: 40px;
  width: 325px;
  height: 550px;
  background: #202020;
  overflow: hidden;
  animation: fadeInUp 0.25s ease;
  z-index: 10000000;
}
.start-left {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  width: 60px;
  background: #202020;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: width 0.25s ease;
  z-index: 2;
}
.start-left.expanded {
  width: 260px;
}
.top-start {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
}
.top-start > span {
  color: #ddd;
}
.top-button {
  background: none;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
  padding: 10px 20px;
}
.top-icon {
  font-size: 18px;
  color: #bbb;
}

.top-label {
  font-size: 15px;
  font-weight: 600;
  color: #f1f1f1;
}
.top-button:hover {
  background: #2f2f2f;
}
.user-profile {
  padding: 10px 18px;
  display: flex;
  align-items: center;
  font-size: 14px;
  transition: background 0.2s;
  gap: 10px;
  height: 30px;
}

.user-icon {
  font-size: 20px;
  color: #bbb;
}

.user-name {
  font-size: 15px;
  color: #f1f1f1;
}

.quick-links {
  list-style: none;
  padding: 10px 0;
  margin: 0;
}

.quick-links li {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.2s;
  color: #ddd;
  height: 30px;
}

.quick-links li:hover {
  background: #2f2f2f;
}

.start-right {
  margin-left: 60px;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #ffffffcc;
  padding-top: 10px;
}
.start-right::-webkit-scrollbar {
  display: none;
}
.start-left.collapsed .user-name,
.start-left.collapsed li span {
  display: none;
}

.start-left.collapsed .user-profile {
  justify-content: center;
  padding: 10px;
}

.start-left.collapsed li {
  justify-content: center;
  padding: 10px;
  gap: 0;
}
.start-left.collapsed {
  width: 60px;
}
.program-list {
  display: flex;
  flex-direction: column;
}
.program-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  height: 50px;
  padding-left: 10px;
  transition: background 0.2s;
  cursor: pointer;
}
.program-item:hover {
  background: #2f2f2f;
}
.window.active {
  box-shadow: 0 0 0 1px #00adef;
}
.desktop-icon {
  position: absolute;
  width: 80px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  font-size: 12px;
  color: #ffffff;
  cursor: pointer;
  user-select: none;
  outline: none;
  gap: 10px;
}

.desktop-icon-image {
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 32px;
}

.desktop-icon-title {
  text-align: center;
  line-height: 1.2;
  max-height: 2.4em;
  overflow: hidden;
  text-overflow: ellipsis;

  padding: 2px 4px;
  border-radius: 2px;

  word-break: break-word;
}

.desktop-icon.selected {
  background: rgb(164 176 185 / 45%);
  outline: 1px solid rgb(114 154 185 / 90%);
}

.desktop-icon:focus-visible .desktop-icon-title {
  outline: 1px dotted #ffffff;
}
.context-menu {
  position: fixed;
  background: #f2f2f2;
  color: #000;
  width: 240px;
  font-size: 13px;
  border: 1px solid #c8c8c8;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  z-index: 9999;
}

.menu-item {
  padding: 6px 20px;
  cursor: default;
}

.menu-item:hover {
  background: #0067c0;
  color: white;
}

.menu-separator {
  height: 1px;
  background: #d6d6d6;
  margin: 4px 0;
}

.boot-screen {
  width: 100vw;
  height: 100vh;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.boot-logo {
  width: 140px;
  color: #429ce3;
}

.spinner {
  width: 40px;
  height: 40px;
}

.lock-login-container {
  position: fixed;
  inset: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
.lock-screen,
.login-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.login-screen {
  width: 100vw;
  height: 100vh;
  background: url("../src/assets/login-wallpaper.webp") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: opacity;
}

.login-screen::before {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(12px);
  background: rgba(0, 0, 0, 0.4);
}

.login-card {
  position: absolute;
  z-index: 1;
  color: white;
  text-align: center;
  top: 20vh;
}
.hint {
  background: #fdfdfd1c;
  color: white;
  border: 1px solid white;
  padding: 14px 50px;
  font-size: 1rem;
  cursor: pointer;
}
.hint:hover {
  background: #fdfdfd2e;
}
.login-card > h2 {
  font-weight: 200;
}
.avatar {
  width: 180px;
  height: 180px;
  background: url("../src/assets/avatar.webp") center/cover no-repeat;
  border-radius: 50%;
  margin-bottom: 20px;
}

.lock-screen {
  background: url(/src/assets/login-wallpaper.webp) center / cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  color: white;
  cursor: pointer;

  z-index: 10;
}

.dateTime {
  padding: 65px 40px;
}

.dateTime > div {
  font-weight: 100;
}

.lock-time {
  font-size: 6rem;
  line-height: 0.9;
  font-weight: 100;
}

.lock-date {
  font-size: 3.5rem;
  opacity: 0.9;
}

.lock-hint {
  margin-top: 40px;
  font-size: 14px;
  opacity: 0.6;
}

@keyframes fadeInUp {
  from {
    transform: translateY(25px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
